<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAdd</display-name>
    <servlet-name>UserAdd</servlet-name>
    <servlet-class>servlet.UserAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAdd</servlet-name>
    <url-pattern>/userAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSelect</display-name>
    <servlet-name>UserSelect</servlet-name>
    <servlet-class>servlet.UserSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSelect</servlet-name>
    <url-pattern>/userSelect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageServlet</display-name>
    <servlet-name>PageServlet</servlet-name>
    <servlet-class>servlet.PageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageServlet</servlet-name>
    <url-pattern>/pageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdate</display-name>
    <servlet-name>UserUpdate</servlet-name>
    <servlet-class>servlet.UserUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdate</servlet-name>
    <url-pattern>/userUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDel</display-name>
    <servlet-name>UserDel</servlet-name>
    <servlet-class>servlet.UserDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDel</servlet-name>
    <url-pattern>/userDel</url-pattern>
  </servlet-mapping>
</web-app>